<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New App</title>
  <!-- build:css assets/lib/lib.min.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css assets/css/main.min.css -->
  <link rel="stylesheet" href="assets/css/main.css"></script>
  <!-- endbuild -->
</head>
<body>
  <!-- build:js assets/lib/lib.min.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js app/app.min.js -->
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>